{% extends "base.html" %} {% block content %}
<h1 class="text-5xl text-center mx-auto font-medium my-12">Book Details</h1>

<!-- card start here -->
<div class="flex items-center mx-12 mb-12">
  <div class="p-5 w-1/2">
    <img class="mx-auto w-64 rounded-lg" src="{{books.image.url}}" alt="#" />
  </div>
  <div class="w-1/2 p-5">
    <div class="">
      <h1 class="my-2 text-5xl font-bold tracking-tight">{{books.title}}</h1>

      <h3 class="py-3 text-3xl font-medium italic text-gray-900">
        Price: ${{books.price}}
      </h3>
      <h5 class="py-3 text-xl font-semibold italic text-gray-900">
        Author: {{books.author}}
      </h5>
    </div>
    <div class="">
      Category: {% for cat in books.category.all %}
      <a
        href="#"
        class="px-3 py-2 text-xl font-medium text-center text-gray-500 m-2 mb-5"
      >
        {{cat.name}}
      </a>
      {% endfor %}
    </div>
    <div class="flex my-5">
      <div class="w-3 h-10 p-1 mr-2 bg-blue-800"></div>
      <p class="text-sm">{{books.description }}</p>
      <!-- truncatechars:200 -->
    </div>
     <p class="flex items-center">
      </p> 
       <a href="{% url 'buy' books.id %}" class="px-3 py-2 bg-blue-600">BuyNow
      </a> 
    <!-- <form action="{% url 'report' %} method='post' ">
      <div class="bg-blue-600 px-4 py-3 rounded-lg text-center">
        <button class="text-white text-center font-bold" type="submit">Buy Now</button>
      </div>
    </form> -->
  </div>
</div>

{% endblock %}
