<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boi Binimoy</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css"
    />
</head>
<body>
    {% include 'navbar.html' %}
    {% block body %}
        <div>
            {% block content %}

            {% endblock  %}
        </div>
    {% endblock %}
    {% include 'footer.html' %}
</body>
</html>